/testfolder_32/
/testfolder_64/
/modules/led_analyzer/example device/
Doxyfile

/build/
/build_windows32/
/build_windows64/
/ivy/dependencies/ant_paths.cmake
/ivy/dependencies/lib/
/ivy/dependencies/path.properties
